---
layout: layouts/base.njk
---

<script>
    function getMapImage() {
        const imageDisplayUrl = 'http://localhost:8080/map-image-file';

        var selectedElement = document.getElementById("file-select")
        var selectedFname = selectedElement.value;

        alert("value:" +selectedElement.value +" - text: " +selectedElement.text)

        var fullUrl = imageDisplayUrl +"?fname=" +selectedFname;

         newDoc = window.open().document
            newDoc.write("<img src=" +fullUrl +"/>");

        /*
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = () => {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                console.log(typeof xmlhttp.responseText);
                console.log(xmlhttp.responseText);
            }
        };
        xmlhttp.open('GET', fullUrl, true);
        xmlhttp.setRequestHeader('Accept', 'application/json');
        xmlhttp.send(null); 

        xmlhttp.onload = function() {

            //imageTag = '<img src="data:image/gif;base64,' + this.responseText + '"/>';
        

            newDoc = window.open().document
            newDoc.write(imageTag);

        }
        */
    }
</script>
<h1> COVID Dashboard </h1>

<p>
This page displays "fairly" current images of the graph and map data uploaded to S3 whenever the notebook is run. Below are sample time periods from the animated map. 
<br/><i>Update: John's Hopkins is no longer updating county COVID data as of 3/10/2023</i>
</p>

<h2> Current Local Cases </h2>

<p style="align: center">
Current cases usually show up mostly as zero now because Nebraska only reports them about once a month.

<!--<img src="../../img/cdash/current-images/current-cases.jpg" width="500">-->
<img src="https://s3.amazonaws.com/cdash-public/current-images/current-cases.jpg" width="500">
</p>

<h2> Graph of Past Year </h2>

<p>
The graph shows when Nebraska stopped regular reporting around 7/1/22. 
They tend to do periodic data dumps since 6/22 and also summer of 21.

<img src="https://s3.amazonaws.com/cdash-public/current-images/current-graph.jpg" width="500">
</p>

<h2> Current US Map </h2>
<p>
States that are not currently reporting are all green

<img src="https://s3.amazonaws.com/cdash-public/current-images/current-map.jpg" width="500">
</p>

<h2> <a href="http://66.228.55.215:8080/">Image Browser</a> </h2>

<p>
    I built an image browser using <a href="https://spring.io/">Spring Boot</a> to display 
    map images that have been saved to a private AWS S3 bucket using the AWS Java API. 
    It's running as a Docker image on a Linode server. The application is secured using Oauth2
    and a Github login is required for access.
</p>

<!-- Quick function to query map images from Spring Boot service. Currently only works on local machine

<p>Select Map Image</p>
<p id="image-list" style="border: 2px">
   
</p>

 <button type ="button" onclick="getMapImage()" >View Image</button>

<script >
    print("In getMapImageList()");
        console.log("In getMapImageList()");
        const xmlhttp = new XMLHttpRequest();
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState === XMLHttpRequest.DONE) {
                console.log(typeof xmlhttp.responseText);
                console.log(xmlhttp.responseText);
            }
        }
        xmlhttp.open('GET', 'http://localhost:8080/maps-list', true);
        xmlhttp.setRequestHeader('Accept', 'application/json');
        xmlhttp.send(null);       

        xmlhttp.onload = function() {
            const myObj = JSON.parse(this.responseText);
            let text = "<select id='file-select'>"
            for (let x in myObj) {
                text += "<option>" + myObj[x] + "</option>";
            }
            text += "</select>"
            document.getElementById("image-list").innerHTML = text;
        }

        
</script>
-->

<h2> Animated Maps </h2>
<p>
Animated GIFs generated from daily maps
</p>
<h3> Spring 2020 </h3>
<img src="../../img/cdash/map-gifs/covid-spring-20.gif" width="600">

<h3> Summer and Early Fall 2020</h3>
<img src="../../img/cdash/map-gifs/covid-summer-early-fall-20.gif" width="600">

<h3> Late Fall and Early Winter 2020 </h3>
<img src="../../img/cdash/map-gifs/covid-late-fall-early-winter-20.gif" width="600">

<h3> Spring 2021 </h3>
<img src="../../img/cdash/map-gifs/covid-spring-21.gif" width="600">

<h3> Omicron Outbreak - Winter 21/22 </h3>
<img src="../../img/cdash/map-gifs/omicron-outbreak.gif" width="600">