<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<link rel="icon" type="image/x-icon" href="/img/brewers-logo-color.png">
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

{#-
		Choices for CSS:

		1. External files (best with local dev server live reload)

				<link rel="stylesheet" href="/css/index.css">
				<link rel="stylesheet" href="/css/message-box.css">
				<link rel="stylesheet" href="/css/prism-okaidia.css">
				<link rel="stylesheet" href="/css/prism-diff.css">

		2. Inlined (speediest in production)
#}
				<style>
				{% include "static/css/index.css" %}
				{% include "static/css/message-box.css" %}
				{% include "node_modules/prismjs/themes/prism-okaidia.css" %}
				{% include "static/css/prism-diff.css" %}
				</style>
{#
		3. Concatenate CSS to one file (slower than 2 but faster than 1):
				https://www.11ty.dev/docs/quicktips/concatenate/
		4. Use a bundler
				e.g. Vite https://www.11ty.dev/docs/server-vite/
				Or search for additional community plugins for esbuild, rollup, webpack, etc.
#}
		<meta name="generator" content="{{ eleventy.generator }}">
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link">{{ metadata.title }}</a>

			{#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
			<nav class="sidenav">
				<img src="/img/sob-small-color2.png" width="100px" />
				<h2 class="visually-hidden">Top level navigation menu</h2>
				<ul class="nav-ul">
				{%- for entry in collections.all | eleventyNavigation %}
					<li class="nav-item"><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
				{%- endfor %}
				</ul>
			</nav>
		</header>

		<main>
			{{ content | safe }}
		</main>
	</body>
	<div class="footer">
		<p class="footer-entry-left">
			<span>Built with  </span>
			<a href="https://www.11ty.dev/"><img src="/img/11ty-96x96.png" width="30"/></a>	
		</p>
				
		<p class="footer-entry-right">
			<a href="mailto://phil.doerr@gmail.com"><img src="/img/email.png" width="20" /></a>
			<a href="https://www.linkedin.com/in/phil-doerr-1294b31/">
				<img src="/img/linkedin.png" width="20" />
			</a>
		</p>
		<div style="clear: both;"></div>
	</div>

	<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	
</html>
