---
layout: layouts/base.njk
---
<!-- Delete this message -->
<h1>Blog</h1>
<!--
<div class="message-box">
	<ol>
		<li>Edit the <code>_data/metadata.json</code> with your blog’s information.</li>
		<li>(Optional) Edit <code>eleventy.config.js</code> with your <a href="https://www.11ty.dev/docs/config/">configuration preferences</a>.</li>
		<li>Delete this message from <code>_includes/layouts/home.njk</code>.</li>
	</ol>
	<p><em>This is an <a href="https://www.11ty.dev/">Eleventy project</a> created from the <a href="https://github.com/11ty/eleventy-base-blog"><code>eleventy-base-blog</code> repo</a>.</em></p>
</div>
-->
<!-- Stop deleting -->

{{ content | safe }}
